<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Style</title>
    <script src="Angular.js"></script>
    <style>
        .selected{
            background-color: lightgreen;
        }
    </style>
</head>
<body>
<table ng-app="myApp" ng-controller="TableController">
    <tr ng-repeat="restaurant in directory" ng-click="select($index)" ng-class="{selected:$index==selectedRow}">
        <td>{{restaurant.name}}</td>
        <td>{{restaurant.cuisine}}</td>
    </tr>
</table>

<script>
    angular.module('myApp',[]).controller('TableController',function($scope){
        $scope.directory = [{name:'The Handsome Heifer', cuisine:'BBQ'},
            {name:'Green\'s Green Greens', cuisine:'Salads'},
            {name:'House of Fine Fish', cuisine:'Seafood'}];

        $scope.select = function(row){
            $scope.selectedRow = row;
        };
    });

</script>
</body>
</html>